{$DUCKDNS_HOSTNAME} {
    encode gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains"
    header -Server
    reverse_proxy app:5000
}

{$STATUS_HOSTNAME} {
    encode gzip
    header Strict-Transport-Security "max-age=31536000; includeSubDomains"
    header -Server
    reverse_proxy uptimekuma:3001
}
